<div>
  <div>
    <div>
      <h3>Sign Up</h3>
      <form #userForm="ngForm">
        <input type="text" placeholder="Full Name" name="fullName" ngModel required>
        <input type="number" placeholder="Age" name="age" ngModel required>
        <input type="email" placeholder="Email Address" name="email" ngModel required />
        <input type="password" placeholder="Password" name="password" ngModel required />
        <input type="button" value="Sign Up" (click)="authService.SignUp(userForm)" />
      </form>
      <span class="or"><span class="orInner">Or</span></span>
      <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
        Continue with Google
      </button>
      <div>
        <span>Already have an account?
          <span routerLink="/sign-in">Log In</span></span>
      </div>
    </div>
  </div>