<h2>Login</h2>
<form #loginForm="ngForm">
    <input type="email" name="email" ngModel required />
    <input type="password" name="password" ngModel required />
    <button (click)="login(loginForm)">Login</button>
</form>

<!-- <div>
    <label>Email:</label>
    <input type="email" [(ngModel)]="email">
</div>
<div>
    <label>Password:</label>
    <input type="password" [(ngModel)]="password">
</div>
<div>
    <button (click)="register()">Register</button>
    <button (click)="login()">Login</button>
</div> -->