<form #userForm="ngForm">
    <input type="text" placeholder="Full Name" name="fullName" ngModel required>
    <input type="email" placeholder="Email" name="email" ngModel required>
    <input type="number" placeholder="Age" name="age" ngModel required>
    <input type="password" placeholder="Password" name="password" ngModel required>
    <button (click)="editMode ? editUser(userForm) : addUser(userForm)">{{ editMode ? 'Edit user' : 'Add user'
        }}</button>

</form>
<h2>All users</h2>
<table>
    <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Created Date</th>
        <th>Modified Date</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let user of users">
        <td>{{user.fullName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.age}}</td>
        <td>{{user.createdAt | date:'short'}}</td>
        <td>{{user.updatedAt | date:'short'}}</td>
        <td>
            <button (click)="populateFields(user,userForm)">Edit</button>
            <button (click)="deleteUser(user._id)">Delete</button>
        </td>
    </tr>
</table>