<input type="text" placeholder="Full Name">
<input type="email" placeholder="Email">
<input type="number" placeholder="Age">
<input type="password" placeholder="Password">
<button>Add user</button>
<h2>All users</h2>
<table>
    <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Created Date</th>
        <th>Modified Date</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let user of users">
        <td>{{user.fullName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.age}}</td>
        <td>{{user.createdAt}}</td>
        <td>{{user.updatedAt}}</td>
        <td>
            <button>Edit</button>
            <button>Delete</button>
        </td>
    </tr>
</table>