.wrapper {
    &__navigation {
        list-style: none;
        margin: 0;
        padding: 0;

        &__link {
            border: 1px solid #000;
        }
    }
}

@media (max-width: var(--tablet)) {
    .wrapper {
        flex: 100%;
    }
}